#elFactorial{

    margin:200px;
    padding:50px;
    text-align: center;
    size: 200;
}
.boton{
    width: 90px;
    height: 30px;
    background-color: 2px #BBBBBB;
    border-left: 2px solid #D3D3D3;
    border-top: 2px solid #D3D3D3;
    border-right: 2px solid #A9A9A9;
    border-bottom: 2px solid #A9A9A9;
}
.numero{
    text-align: center;
}